@for $i from 1 to 21 {
  .blur-#{$i}px{
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  .blur-#{$i}px:before{
    content: '';
    background: inherit;
    filter: blur(#{$i}px);
    position: absolute;
    top: $i * -2px;
    right: $i * -2px;
    bottom: $i * -2px;
    left: $i * -2px;
    z-index: -1;
  }
}
